<div class="container padding-vertical-24">
  <div class="row start-xs ">

      <div class="row middle-xs no-margin">
        <div class=" avatar circle  z-depth-2">
          <%= image_tag "http://www.requitix.io/mypics/max/68/686472_person-vector-png.jpg", class: "img" %>

        </div>

        <div class="col-xs no-margin">
          <span class="text-24 secundario-text robotoB"><%=user.nombre_completo%></span>
          <span class="titulos-text robotoL"><%=user.rango ||= 'Aspirante' %></span>
          <span class="titulos-text"><%=user.email ||= 'correo no encontrado'%></span>

        </div>

      </div>

  </div>
  <div class="row start-xs">
      <div class="col-xs-12 col-lg-4 ">
        <a href="#"></a>
          <div class="card borde-radio-8 waves-effect hoverable" style="overflow: hidden;">
            <section class="image-card noticias"></section>
              <div class="card-content padding-top-0">
                  <span class=" primario-text left-align text-20 robotoB">Noticias</span>
                  <p class="left-align robotoB text-14 borde-text">Mantente informado de lo que la Gran Comisión Comunidad Cristiana Integral tiene para ti</p>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <a href="/discipleships">
        <div class="card borde-radio-8 waves-effect hoverable " style="overflow: hidden;">
          <section class="image-card-50 discipulados"></section>
          <div class="card-content padding-top-0">
              <span class=" primario-text left-align text-20 robotoB">Discipulados</span>
              <p class="left-align robotoB text-14 borde-text">Mantente informado de lo que la Gran Comisión Comunidad Cristiana Integral tiene para ti</p>
          </div>
        </div>
      </a>

      </div>
      <div class="col-xs-12 col-lg-4">
        <a href="#"></a>
          <div class="card borde-radio-8 waves-effect hoverable " style="overflow: hidden;">
            <section class="image-card-50 horario"></section>
              <div class="card-content padding-top-0">
                  <span class=" primario-text left-align text-20 robotoB">Horario</span>
                  <p class="left-align robotoB text-14 borde-text">Mantente informado de lo que la Gran Comisión Comunidad Cristiana Integral tiene para ti</p>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <a href="#"></a>
          <div class="card borde-radio-8 waves-effect hoverable " style="overflow: hidden;">
            <section class="image-card-50 notasExtendidas"></section>
              <div class="card-content padding-top-0">
                  <span class=" primario-text left-align text-20 robotoB">Notas extendidas</span>
                  <p class="left-align robotoB text-14 borde-text">Mantente informado de lo que la Gran Comisión Comunidad Cristiana Integral tiene para ti</p>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <a href="#"></a>
          <div class="card borde-radio-8 waves-effect hoverable " style="overflow: hidden;">
            <section class="image-card-50 historialInscripciones"></section>
              <div class="card-content padding-top-0">
                  <span class=" primario-text left-align text-20 robotoB">Historial de inscripciones</span>
                  <p class="left-align robotoB text-14 borde-text">Mantente informado de lo que la Gran Comisión Comunidad Cristiana Integral tiene para ti</p>
              </div>
          </div>
      </div>
  </div>
</div>
