<div class="carousel carousel-slider no-autoinit">
    <a class="carousel-item" href="#one!">
        <%= image_tag "6.jpg" %>
    </a>
    <a class="carousel-item" href="#two!">
        <%= image_tag "5.jpg" %>
    </a>
    <a class="carousel-item" href="#three!">
        <%= image_tag "4.jpg" %>
    </a>
    <a class="carousel-item" href="#four!">
        <%= image_tag "7.jpg" %>
    </a>
</div>


<div class="row center-xs">
    <div class="col-xs-12 col-lg-6">
        <div class="card borde-radio-8">
            <div class="card-content">
                <h3>Bienvenidos </h3>
                <span class="card-title verdeBri-text left-align"> A la Iglesia Gran Comisión Comunidad Cristiana Integral de las Asambleas de Dios</span>
                <p class="left-align">Queremos aprender de la Palabra de Dios para poder vivir más como Cristo, servir con habilidad a nuestras comunidades y para poder responder al mundo frente a tantos vientos de falsas doctrinas. La sana doctrina trae discernimiento y sabiduría
                    al creyente fiel.</p>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col l3  s12">
            <p>El propósito es alcanzar a todos los niños y jóvenes de Colombia y el mundo con el mensaje que Cristo salva y pronto viene, utilizando todos los medios que estén a nuestro alcance, formando discípulos llenos del Espíritu Santo.</p>
            <a class="waves-effect waves-light btn">Ver más</a>
        </div>
        <div class="offset-1 col l3 s12">
            <p>Este ministerio es uno de los puntos fuertes de la iglesia. Queremos continuar con esta tradición rica y profunda que tenemos en esta área. La educación cristiana tanto para el adulto como para el niño es de vital importancia en su discipulado
                cristiano.
            </p>
            <a class="waves-effect waves-light btn">Ver más</a>
        </div>

        <div class=" offset-1 col l3  s12">

            <p>Los Grupos de Crecimiento Integral, o GCI, son células o pequeños centros de enseñanzas, las diferentes casas de los hermanos de nuestra comunidad. Aquí se habla de las escrituras de una manera sencilla y práctica y donde los asistentes son
                edificados.
            </p>
            <a class="waves-effect waves-light btn">Ver más</a>
        </div>
    </div>
</div>



<script>
    $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true,
        duration: 100
    });
</script>