<h1>New Address Church And Document Expedition</h1>

<%= render 'form', address_church_and_document_expedition: @address_church_and_document_expedition %>

<%= link_to 'Back', address_church_and_document_expeditions_path %>
