<div class="fixed-action-btn no-autoinit">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a href="/discipleships/new" class="btn-floating blue"><i class="material-icons">add</i></a></li>
    </ul>
</div>

<div class="container padding-top-24">
    <div class="row center-xs ">
        <% @discipleships.each do |discipulado| %>
        <div class="col-xs-12 col-lg-4">

          <div class="card borde-radio-8 waves-effect hoverable " style="overflow: hidden;">
            <section class="image-card-50 discipulados"></section>
            <div class="card-content padding-vertical-0 maxmin-h-77">
                <span class=" primario-text left-align text-20 robotoB"><%=discipulado.nombre%></span>
                <p class="left-align robotoB text-14 borde-text padding-bottom-4 trunc-2"><%=discipulado.descripcion%></p>
            </div>
            <section class="col-xs-12 center-xs verdeAdo waves-effect">
              <%= link_to  "Ver detalles", discipulado, class: "btn-flat white-text robotoB" %>

            </section>
          </div>

        </div>

            <%end%>
    </div>
</div>

<br>

<script>
    $(document).ready(function() {
        $('.fixed-action-btn').floatingActionButton();
    });
</script>
