$colors :(
    negro: #000000,
    rojoBri: #ED0900,
    verdeBri: #339900,
    verdeAdo: #51B133
);

@each $color_name,$color in $colors{
    .#{$color_name}{
        background-color: $color;
    }
    .#{$color_name}-text{
        color: $color;
    }
}