<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card borde-radio-10  padding-14">
        <span class="card-title">Nombre del documento</span>
        <p class="margin-0">una descripcion corta del documento</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card borde-radio-10  padding-14">
        <span class="card-title">Nombre del documento</span>
        <p class="margin-0">una descripcion corta del documento</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card borde-radio-10  padding-14">
        <span class="card-title">Nombre del documento</span>
        <p class="margin-0">una descripcion corta del documento</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card borde-radio-10  padding-14">
        <span class="card-title">Nombre del documento</span>
        <p class="margin-0">una descripcion corta del documento</p>
      </div>
    </div>
    <% @materials.each do |material| %>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card borde-radio-10  padding-14">
        
        <img src="<%= icon_file_type(material.pdf_identifier) %>">
        <span class="card-title"><%= link_to material.pdf_identifier,  material.pdf.url , class: "green-text" %></span>
        <p class="margin-0"> <%= material.descripcion %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
