<p id="notice"><%= notice %></p>
<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
  <div class="card borde-radio-10  padding-14">
    <span class="card-title"><%=@material.pdf_identifier%></span>
    <p class="margin-0"><%=@material.descripcion%></p>
    <%= link_to 'Ver mas',  @material.pdf.url , class: "green-text" %>
  </div>
</div>
